@font-face{
    font-family: pincelada;
    src: url(Rough\ Battle.ttf) format('truetype');
}
body{
    background-color: black;
}

h1{
    font-family: pincelada, sans-serif;
    text-align: center;
    color: whitesmoke;
}
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 3px;
}
section{
    display: flex;
    justify-content: space-between;
}

p.produto{
    color: white;
    text-align: center;
}