@font-face{
    font-family: pincelada;
    src: url(Rough\ Battle.ttf) format('truetype');
}
body{
    background-color: black;
}

h1{
    font-family: pincelada, sans-serif;
    text-align: center;
    color: whitesmoke;
}
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 3px;
}
main{
    display: flex;
    justify-content: space-between;
}
div#imagem{
    transform: translate(100%, 0%);
}
div#produto{
    transform: translate(-100%, 0%);
}

div#produto{

    height: 450px;
    width: 300px;
    border: 1px solid white;
}
#linha{
    display: flex;
    justify-content: space-between;
}
div#tamanho{
    color: white;
}
p{
    color: white;
}
p#título{
    background-color: white;
    color: black;
    text-align: center;
    font-size: 2em;
}
p#pedido{
    margin-top: 300px;

}
#pedidos{
    width: 30px;
}
#botao{
    text-align: right;
}